*{
    margin: 0;
    padding: 0;
}

.PrimeiraCaixa{
    background-color: black;
    width: 50%;
    margin: auto;
    min-width: 500px;
}


.PrimeiraCaixaContainer{
    background-color: black;
}

.PrimeiraCaixa img{
    width: 100px;
    padding: 15px 0;
}

.PrimeiraCaixa ul {
    background-color: black;
    display: inline;
    float: right;
    padding-top: 20px;
}

.PrimeiraCaixa li{
    display: inline-block;
    font-size: 12px;
    padding-inline: 10px;
}

.PrimeiraCaixa a{
    text-decoration: none;
    color: white;
}

.SegundaCaixa{
    background-color: blue;
    color: white;
    padding: 72px 0px 40px 0px;
}

.SegundaCaixaContainer{
    width: 60%;
    min-width: 500px;
    margin: auto;
}

.SegundaCaixaContainer h1{
    font-size: 30px;
}

.SegundaCaixaContainer h2{
    font-size: 18px;
    font-weight: 10;
}

.SegundaCaixaContainer h1, .SegundaCaixaContainer h2{
    padding-bottom: 20px;
}

.SegundaCaixaContainer a{
    color: white;
    font-size: 10px;
}

.SegundaCaixaContainer p{
    color: white;
    font-size: 10px;
    padding-top: 20px;
}
body{
    font-family: "Open Sans", serif;
}

.premium-buttons{
    display: inline-block;
    font-weight: 400px;
    border-radius: 100px;
    padding: 12px 20px;
    font-size: 11px; 
    font-weight: 600;
}

.Comece-Agora{
    background-color: black;
}

.Ver-Planos{
    border: 1px solid white;
}

.Comece-Agora:hover, .Ver-Planos:hover{
    transition: all 600ms ease;
    background-color: pink;
    padding: 20px 30px;
}